<!DOCTYPE html>
<html>
<head>
    <title>About | Rahul Kumar Ravi</title>
    <link rel="icon" href="/img/about.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
      {{>header}}
    <img src="./img/user.jpg" class="portrait">
    </div>
    
    {{>footer}}
</body>
</html>