<!DOCTYPE html>
<html>
<head>
    <title>About | Rahul Kumar Ravi</title>
    <link rel="icon" href="/img/about.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
      {{>header}}
      <p>This site is created by <b>Rahul Kumar Ravi.</b></p>
      <p>It uses data from <a href="https://weatherstack.com/">weatherstack.com</a> and <a href="https://www.mapbox.com/">mapbox.com</a></p>
    <img src="./img/creater.jpg" class="portrait">
    </div>
    
    {{>footer}}
</body>
</html>